/* CSS for panel1 */
.Panel1 {
    width: 20%; /*Can be 16.105%*/


}



/* CSS For SearchTerm */
.SearchTerm {
    width: 100%
}


.SearchTerm-Icon {
    width: 100%;

}

/* CSS for onyx.items, adds gridlines */
.onyx-item {
    border-top: 1px solid rgba( 255, 255, 255, 0.5 );
	border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );

	padding: 14px;

}


/* CSS for the tweet kind*/

.Tweet-Image {
    width: 50px; 
    height: 50px; 
    float: left; 
    padding-right: 10px;   
}

.Tweet-Message {
    font-size: 75%;
}

.Tweet-Handle {
    color: gray;
    font-size: 65%;
    
}